---
layout: netherpi.njk
nesting: "../"
order: 1
permalink: "/home/"
tags: menuItems
title: "Home"
bodyClass: "home"

---

<section>
    <div class="section-head"><h1>I have a website!</h1></div>
    <div class="inner-section">
        <div class="mini-about">
            <img class="smile-tony" alt="smile tony" style="width:100px;height:100px;image-rendering:pixelated;display=inline-block" loading="lazy" src="/assets/img/smile-tony.webp">
            <p>
                Hello, I'm <span title='Pronounced nether pie'>netherpi</span>! This is my personal corner of the internet where I dump whatever I'm currently into.
                You can expect a lot of posts about tech, art, video games, and engineering.
                This site is an eternal work-in-progress, things will break. Also, this site is best viewed on desktop.
                There is a mobile layout, however it kinda sucks and I don't recommend it if you have access to a desktop.
            </p>
        </div>
    </div>
</section>
<section>
<div class="section-head"><h1>Where to?</h1></div>
    <div class="inner-section">
        <p>Use the sidebar (or the top menu on mobile) to navigate. Don't know where to go first? May I suggest:</p>
        <ul class="suggestions">
            <li><a href="/about">Learn more about me and the site.</a></li>
            <li><a href="/guestbook">Sign my guestbook.</a></li>
            <li><a href="/">Return to the welcome page.</a></li>
        </ul>
    </div>
</section>
