<div class="aside-mobile">
<aside class="aside-left">
<details id="aside-mobile">

    <summary>Navigation</summary>
  <div class="aside-box">
    <nav class="menu">
      <ul class="menu-list">
                                 {% for item in collections.menuItems | sort(false, false, 'data.order') %}
                            <li><a href="{{ item.data.permalink }}" {% if page.url == item.url  %} aria-current="page" class="active" {% endif %}>{{ item.data.title | slugify }}</a></li>
                            {% endfor %}
      </ul>
    </nav>
  </div>
</details>
</aside>
</div>
