     <!-- theme toggler -->
<div id="theme-toggler">
    <button><span><img src='/assets/img/sun.gif' alt='sun'/> <span class='butt-text'>change theme</span></span></button>
    <script src="/js/toggleTheme.js"></script>
</div>
