{% include '_head.njk' %}
  <body class="{{bodyClass}}">
    <div id="content" class>
        {% include '_theme-toggler.njk' %}
             <header id="header">
                <h1><a href="/home">netherpi.net</a></h1>
            </header>
{% include '_aside.njk' %}
{% include '_aside-mobile.njk' %}
            <main id="main">
                {{ content | safe }}
            </main>
            {% include '_footer.njk' %}
        </div>
    </body>
</html>
