---
layout: base.njk
title: "Home"
permalink: "/"
isHome: true
hasCode: false
hasMath: false
hasTitle: false
noSEO: false
tags: menuItems
order: 100
---
<div id="home">
  <div class="posts">
    <h1>Recent Posts</h1>
    <p>
      {% include "components/_postlist.njk" %}
    </p>
  </div>
  <aside class="sidebar" aria-label="sidebar">

    <section class="card">
      <h1>Current Status</h1>
      {% include 'components/_statuscafe.html' %}
    </section>

    <section class="card">
      <h1>Webrings</h1>
      <div class="webrings">
        {% include 'components/_tvtime.html' %}
        {% include 'components/_noai_fl.html' %}
        {% include 'components/_ssg.html' %}
      </div>
    </section>

    <section class="card">
      <h1>Stats</h1>
      <div>
        <ul style="list-style:none;">
        <li><i class="nf nf-oct-people"></i> <!--# followers --> followers</li>
        <li><i class="nf nf-md-eye"></i> <!--# views --> views</li>
        <li><i class="nf nf-md-update"></i> <!--# updates--> updates</li>
        <li><i class="nf nf-fa-newspaper"></i> 0 posts</li>
        </ul>
      </div>

    </section>

    <section class="card">
      <h1>My Button</h1>
      Feel free to hotlink my button (let me know if you add my button to your site!):
      <div style="text-align: center;"><a href="https://netherpi.net" target="_blank"><img
            alt="netherpi.net" src="asset/img/button/netherpi.gif" loading="lazy" decoding="async" width="88" height="31" style="image-rendering: pixelated;"></a>
        <textarea>&lt;a href=&#34;https://netherpi.net" target="_blank"&gt;&lt;img src="asset/img/button/netherpi.gif" loading="lazy" decoding="async" style=&#34;image-rendering: pixelated;" width="88" height="31" alt="netherpi.net"&gt;&lt;/a&gt;</textarea>
      </div>
    </section>

    <section class="card">
      <h1>My Neighbors</h1>
      If you want to be added, follow me on Nekoweb or add my button. 
      <br>
      {% include 'components/_myNeighbors.html' %}
    </section>

    <section class="card">
      <h1>Now Listening</h1>
      {% include 'components/_lastfm.html' %}
    </section>
  </aside>
</div>