/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://nekoweb.org/assets/siteboxes.png */
/*!@nkb "domain":"jbc.lol","rss":"","overflow":false,"readonly":false */
/*
    Don't use this file to edit your site style! Create a different CSS file for that.
    This file defines how custom elements (like sitebox) will look like.
    Setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion!
*/

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: center;
    border: 3px ridge #a6a6a6;
    background: #000000;
    font-size: 12px;
}
.site-box > a > p {
    font-family: monospace;
    color: #33d17a;
}
.site-box > a > span {
    visibility: hidden;
}

/* Style for your post box (must start with ".post-box") */
.post-box {
    background-color: #fff2cc;
    border: 4px solid #ecbfa6;
    padding: 15px;
    border-radius: 5px;
    color: #634c53;
    font-weight: normal;
}

.post-box .post-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* Style for your 'Follow on Nekoweb' button (<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>) */
.follow {
    background-color: #bbd8bb;
    border: 1px solid #95b695;
    border-radius: 2px;
    color: #2c462c;
    padding: 2px 10px;
    cursor: pointer;
    font-family: "monospace";
    font-size: 13px;
    margin: 0 auto;
    display: block;
}
.following {
    color: #2c462c;
    cursor: pointer;
    font-family: monospace;
    font-size: 13px;
}
