html[data-theme="light"] {
    --primary-textColor: #403347;
    --secondary-textColor: #4d3073;
    --primary-backgroundColor: #9fc8ff;
    --secondary-backgroundColor: #d1e5ff;

    --a-textColor: var(--secondary-textColor);
    --a-visited-textColor: var(--secondary-textColor);
    --aside-headerBackground: var(--secondary-backgroundColor);
    --aside-headerColor: var(--secondary-textColor);
    --aside-headerShadow: var(--secondary-textColor) 0px 0px 0px; /* invisible */
    --background-color: var(--primary-backgroundColor);
    --background-imgTile: url("/assets/img/light-backgroundTile.gif");
    --body-textColor: var(--primary-textColor);
    --box-backgroundColor: var(--primary-backgroundColor);
    --box-borderStyle: 3px solid var(--secondary-backgroundColor);
    --box-radius: 8px;
    --button-textColor: var(--aside-headerColor);
}

html[data-theme="dark"] {
    --primary-textColor: #ffffff;
    --secondary-textColor: #33d17a;
    --primary-backgroundColor: #000000;
    --secondary-backgroundColor: #1d211f;

    --a-textColor: var(--secondary-textColor);
    --a-visited-textColor: #17ab76;
    --aside-headerBackground: url("/assets/img/dark-backgroundHeader.gif");
    --aside-headerColor: var(--secondary-textColor);
    --aside-headerShadow: var(--secondary-textColor) 1px 0px 10px;
    --background-color: var(--primary-backgroundColor);
    --background-imgTile: url("/assets/img/dark-backgroundTile.gif");
    --body-textColor: var(--primary-textColor);
    --box-backgroundColor: var(--primary-backgroundColor);
    --box-borderStyle: 3px ridge var(--secondary-backgroundColor);
    --box-radius: 0px;
    --button-textColor: var(--aside-headerColor);
}
