<small>© 2025-{% year %} Site content is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA
    4.0</a></span>  <img src="/asset/img/icon/cc.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;"
    loading="lazy" decoding="async"><img
    src="/asset/img/icon/by.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;"
    loading="lazy" decoding="async"><img
    src="/asset/img/icon/sa.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;"
    loading="lazy" decoding="async"> unless stated otherwise. <br> Generated with <a
    href="https://www.11ty.dev/" >11ty</a>, hosted on <a href="https://nekoweb.org">Nekoweb</a>.
</small>