<!DOCTYPE html>
<html prefix="og: https://ogp.me/website#" lang="en">

<head>
    {% include '_head.njk' %}
</head>
<body>
    <!-- prevent the dreaded FOUC in firefox -->
    <script>0</script>
    <div id="top-bar">
        <header>:] netherpi.net</header>
        <nav>
            {% include '_nav.njk' %}
     </nav>
    </div>
        <hr/>

    <main>
        {% if hasTitle %}<h1>{{title}}</h1>{% endif %}
        {% if hasMath %}
            {{ content | latex | safe }}
        {% else %}
            {{content | safe }}
        {% endif %}    
    </main>
    <hr/>
        <footer role="contentinfo">
            {% include '_footer.njk' %}
        </footer>
    </body>

</html>