---
layout: base.njk
---

<article class="blog_entry">
        {% if hasMath %}
            {{ content | latex | safe }}
        {% else %}
            {{content | safe }}
        {% endif %}
</article>