.collections {
    #collections {
        display: grid;
        figure {
            display: inline-block;
            border: var(--box-borderStyle);
            border-radius: var(--box-borderRadius);
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            img:hover {
                transform: scale(1.05);
            }
            figcaption {
                margin: 10px;
                text-align: center;
            }
        }
    }
}
