.mini-about {
    display: flex;
}
img.smile-tony {
    margin-right: 1em;
}

ul.suggestions {
    color: var(--a-textColor);
}

@media (width >= 768px) {
    section.status {
        width: 30em;
        .inner-section {
        }
    }
}
