body.welcome {
    #webrings {
        text-align: center;
    }
}
@media (width > 768px) {
    body.welcome {
        #content-warning {
            display: flex;
        }
        .content-warning-gif {
            align-content: center;
        }
    }
}
@media (width <= 767px) {
    body.welcome {
        #content-warning {
            display: grid;
        }
        .content-warning-gif {
            display: inline-grid;
            justify-content: center;
        }
    }
}
