:root {
    letter-spacing: -0.04em;
    font-size: 1em;
    line-height: 1.25;
}

a {
    color: var(--a-textColor);
}

a:visited {
    color: var(--a-textColor);
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
    color: var(--secondary-headerColor);
}

h3 {
    font-size: 1.1em;
    color: var(--secondary-headerColor);
}

img {
    image-rendering: pixelated;
}

body {
    background-image: var(--background-imgTile);
    color: var(--body-textColor);
}
main {
    section {
        border: var(--box-borderStyle);
        border-radius: var(--box-borderRadius);
        background: var(--box-backgroundColor);
    }

    img.pixel {
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
        height: 1.25em;
        width: auto;
        display: inline-block;
    }

    .section-head {
        padding: 4px 17px;
        color: var(--aside-headerColor);
        text-shadow: var(--aside-headerShadow);
        background: var(--aside-headerBackground);
        h1 {
            margin: 0px;
        }
    }
}

ul {
    list-style: "> ";
}

ul.link-list {
    color: var(--a-textColor);
}
