@font-face {
    font-family: "Iosevka";
    src:
        url("/font/Iosevka.woff2") format("woff2"),
        url("/font/Iosevka.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Atkinson Hyperlegible Mono";
    src:
        url("/font/AtkinsonHyperlegibleMono-Regular.woff2") format("woff2"),
        url("/font/AtkinsonHyperlegibleMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ModeNine";
    src:
        url("/font/ModeNine.woff2") format("woff2"),
        url("/font/ModeNine.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-weight: normal;
    font-style: normal;
    font-family: "Atkinson Hyperlegible Mono";
}

aside.aside_l {
    font-family: "Atkinson Hyperlegible Mono";
}

div.aside-header {
    font-family: "Iosevka";
}

#theme-toggler span {
    font-family: "Atkinson Hyperlegible Mono";
    font-weight: 600;
}

h1 {
    font-family: "Iosevka";
}

h2 {
    font-family: "Iosevka";
}

h3 {
    font-family: "Iosevka";
}

header h1 {
    font-family: "ModeNine";
}
