* {
    box-sizing: border-box;
    body {
        min-height: 100vh;
        margin: 0;
        position: relative;
        display: grid;

        @media (width > 767px) {
            #content {
                grid-template:
                    "header header header" auto
                    "aside-left main main" auto
                    "footer footer footer" auto
                    / 220px auto 220px;
            }
            header {
                grid-area: header;
                text-align: center;
                height: 50px;
                margin-bottom: 50px;
            }

            #aside-mobile {
                visibility: hidden;
            }
        }
        #content {
            width: 95%;
            display: grid;
            justify-self: center;
            aside.aside-left {
                grid-area: aside-left;
                padding: 5px;
                .aside-box {
                    margin-bottom: 10px;
                }
            }
            main {
                grid-area: main;
                padding: 5px;
                display: flex;
                flex-direction: column;
                section {
                    margin-bottom: 10px;
                }
                .inner-section {
                    padding: 4px 17px;
                }
            }
        }
    }
}
