@media (width <= 767px) {
    #content {
        grid-template:
            "header" auto
            "aside" auto
            "main" auto
            "footer" auto;
    }
    #theme-toggler {
        position: absolute;
        top: 7px;
        left: 7px;
    }
    #theme-toggler button {
        width: 40px;
        height: 40px;
    }
    #theme-toggler span.butt-text {
        visibility: hidden;
    }
    #theme-toggler img {
        height: 25px;
        width: auto;
    }
    aside.aside-left {
        font-size: 15px;
    }
    #desktop-aside {
        visibility: hidden;
    }
    .aside-mobile {
        grid-area: aside;
        background-color: var(--box-backgroundColor);
        border: var(--box-borderStyle);
        border-radius: var(--box-borderRadius);
        margin: 5px;
    }
    header {
        text-align: center;
        grid-area: header;
        h1 {
            font-size: 2em;
        }
    }
    .aside-box {
        background-color: var(--box-backgroundColor);
        display: grid;
        #status {
            justify-self: center;
        }
    }
    .aside-header {
        border-radius: var(--box-borderRadius);
    }
    summary {
        text-align: center;
        padding: 4px 17px;
        font-weight: bolder;
        font-size: 1.5em;
        font-family: "Iosevka";
        color: var(--aside-headerColor);
        text-shadow: var(--aside-headerShadow);
    }
    ul.menu-list {
        font-size: 18px;
        line-height: 1.7em;
    }
}
