<div class="dark">
<iframe
    src="https://petracoding.github.io/neocities/widgets/lastfm?color=#9bf9ff&font-family=Helvetica&font-size=15px&line-height=1.5&max-width=500px&username=spellcaster005&swapPositions=0&delimiter= by &underline=1&center=1&marquee=1&showAlbumCover=0&albumCoverLeft=0"
    frameborder="0" title="Widget" height="25"></iframe>
</div>
<div class="light">
<iframe
    src="https://petracoding.github.io/neocities/widgets/lastfm?color=#076678&font-family=Helvetica&font-size=15px&line-height=1.5&max-width=500px&username=spellcaster005&swapPositions=0&delimiter= by &underline=1&center=1&marquee=1&showAlbumCover=0&albumCoverLeft=0"
    frameborder="0" title="Widget"height="25"></iframe>
</div>