<div id='noaiLight'>
     <map name="noaitxtwidget">
          <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="28,0,219,30" alt="no ai webring"
               title="no ai webring">
          <area href="https://baccyflap.com/noai/?prv&s=npi" target="_top" shape="rect" coords="0,0,27,30"
               alt="previous" title="previous">
          <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="221,6,235,25" alt="random"
               title="random">
          <area href="https://baccyflap.com/noai/?nxt&s=npi" target="_top" shape="rect" coords="239,0,263,30" alt="next"
               title="next">
     </map>
     <img usemap="#noaitxtwidget" src="/asset/img/webring/txtwidget-light.gif"
          alt="a white rectangular box with a dashed outline with the words 'the no ai webring' in the centre, with a parenthetical question mark next to it and two arrows pointing left and right to either side"
          decoding="async"
          loading="lazy">
</div>

<div id='noaiDark'>
     <map name="noaitxtwidget">
          <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="28,0,219,30" alt="no ai webring"
               title="no ai webring">
          <area href="https://baccyflap.com/noai/?prv&s=npi" target="_top" shape="rect" coords="0,0,27,30"
               alt="previous" title="previous">
          <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="221,6,235,25" alt="random"
               title="random">
          <area href="https://baccyflap.com/noai/?nxt&s=npi" target="_top" shape="rect" coords="239,0,263,30" alt="next"
               title="next">
     </map>
     <img usemap="#noaitxtwidget" src="/asset/img/webring/txtwidget-dark.gif"
          alt="a black rectangular box with a dashed outline with the words 'the no ai webring' in the centre, with a parenthetical question mark next to it and two arrows pointing left and right to either side"
          decoding="async"
          loading="lazy">
</div>