<img src="/asset/img/button/old-netherpi-dark.gif" 
alt="button to netherpi.net" 
loading="lazy"
decoding="async"/> <textarea><img src="YOUR-PATH-TO/old-netherpi-light.gif" 
alt="button to netherpi.net" 
loading="lazy"
decoding="async"/></textarea>

<img src="/asset/img/button/old-netherpi-light.gif" 
alt="button to netherpi.net" 
loading="lazy"
decoding="async"/> <textarea><img src="YOUR-PATH-TO/old-netherpi-light.gif" 
alt="button to netherpi.net" 
loading="lazy"
decoding="async"/>
</textarea>
