#theme-toggler {
    top: 7px;
    left: 10px;
    position: absolute;
    button {
        background: var(--button-BackgroundColor);
        border-radius: var(--button-borderRadius);
        border: var(--button-borderStyle);
        color: var(--button-textColor);
        padding: 2px 4px;
    }
    button:hover {
        filter: brightness(0.8);
    }
    span {
        letter-spacing: -0.04em;
        display: -webkit-box;
        padding: 2px 0px 2px 0px;
        font-size: 15px;
        line-height: 1em;
    }
    img {
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
    }
}
