---
layout: netherpi.njk
nesting: "../"
order: 450
permalink: "/collections/"
tags: menuItems
title: "Collections"
bodyClass: "collections"
---

<section>

    <div class="section-head"><h1>Collections</h1></div>
    <div class="inner-section">
        <div id="collections">
            <figure>
            <img src="/assets/img/wii.webp" style="width:10.5em;height:auto;">
            <figcaption><h2>Consoles</h2></figcaption>
            </figure>

            <figure>
            <img src="/assets/img/mario.webp" style="width:9.5em;height:auto;">
            <figcaption><h2>Plushes</h2></figcaption>
            </figure>

            <figure>
            <img src="/assets/img/next-pizza-box.webp" style="width:15.5em;height:auto;">
            <figcaption><h2>Computers</h2></figcaption>
            </figure>
        </div>
        <div>
        <h2>Image Credits</h2>
            <details>
                <ol>
                    <li>By <a href="//commons.wikimedia.org/wiki/User:Evan-Amos" title="User:Evan-Amos">Evan-Amos</a> - Own work using: <a class="mw-selflink selflink">Wii-Console.png</a> <a href="//commons.wikimedia.org/wiki/File:Wii-console.jpg" title="File:Wii-console.jpg">Wii-console.jpg</a>, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=11477211">Link</a></li>
                    <li>(Amazon Listing Photo) Little Buddy 1583 Super Mario All Star Collection - 1583 - Mario Medium Stuffed Plush, 14"</li>
                    <li>By <a href="//commons.wikimedia.org/wiki/User:Rama" title="User:Rama">Rama</a> &amp; Musée Bolo - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/2.0/fr/deed.en" title="Creative Commons Attribution-Share Alike 2.0 fr">CC BY-SA 2.0 fr</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=36770097">Link</a></li>
                </ol>
            </details>
        </div>
    </div>
</section>
