---
bodyClass: collections
layout: netherpi.njk
order: 4
permalink: "/collections/"
tags: menuItems
title: Collections
---

<section>collect</section>
<section>
    cool websites
    <a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a>
    <a href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"></a>
    <a href="https://glassy-website.nekoweb.org/"><img src="/assets/img/button/glassyweb.gif"></a>
    <a href="https://thegreenroom.neocities.org/i"><img src="/assets/img/button/greenroombutton.gif"></a>
</section>
