---
layout: base.njk
title: "Posts"
permalink: "/posts/"
isHome: false
hasCode: false
hasMath: false
noSEO: false
tags: menuItems
order: 200
---

<p>Under construction, but expect the first post to be an explanation of how I built the site.</p>

{% include 'components/_postlist.njk' %}